<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <title>Forex Trading</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">News</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Call Us</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </nav>
    <div class="website-heading">
      <h1>NIKX INVESTMENTS</h1>
      <div class="transaction">
        <button>Deposit</button>
        <button>Withdraw</button>
        <button>Tasks</button>
      </div>
    </div>
    <div class="website-body">
      <h3>TODAY'S HOT DEALS</h3>
    </div>
    <div class="website-home">
      <div class="first-row">
        <div
          class="firstRow-section-one"
          href="../components/forex-trading.html"
        >
          <h3>Forex Trading</h3>
          <h2>2%</h2>
          <div
            class="card forex-trading"
            style="background-image: url('../images/forexTrading.jpg')"
          ></div>
        </div>
        <div class="firstRow-section-two">
          <h3>CRYPTO</h3>
          <h2>3%</h2>
          <div
            class="card forex-crypto"
            style="background-image: url('../images/crypto-currency.jpg')"
          ></div>
        </div>
      </div>
      <div class="second-row">
        <div class="firstRow-section-one">
          <h3>STOCKS</h3>
          <h2>4%</h2>
          <div
            class="card forex-stocks"
            style="background-image: url('../images/stockmarket.jpg')"
          ></div>
        </div>
        <div class="firstRow-section-one">
          <h3>REAL ESTATE WHOLESALE</h3>
          <h2>5%</h2>
          <div
            class="card forex-realEstate"
            style="background-image: url('../images/realEstate-Wholesale.jpg')"
          ></div>
        </div>
      </div>
      <div class="third-row">
        <div class="firstRow-section-one">
          <h3>REAL ESTATE INVESTING</h3>
          <h2>6%</h2>
          <div
            class="card forex-reatEstateInvesting"
            style="background-image: url('../images/real-estate-1.jpg')"
          ></div>
        </div>
        <div class="firstRow-section-one">
          <h3>CROWD FARMING</h3>
          <h2>7%</h2>
          <div
            class="card forex-crowidFarming"
            style="background-image: url('../images/crowd-farming.jpg')"
          ></div>
        </div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
